/* 
    General Styles
*/
.barra{
    background-color: rgb(39, 59, 8);
  width: 100%;
  }
.logo{
    animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
  border-radius: 100%;
  object-fit: cover;
  
  }